spellTnAffectedByMa = true
useSimpleDamage = false
useSimpleDice = false
useExtendedDice = false
useBellCurveDice = true
useComplexTOUDice = true
use3DMap = false
showChit = false
rollDice = false
serverPort = 1777
